@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* Colección de estilos de base que después se sobrescriben con los estilos propios de cada componente */
html,
body {
  font-family: "Roboto", sans-serif;
}

#app {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  background-color: #fefcf6;
}

main {
  padding: 2rem;
  background-color: #fefcf6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #7ab370;
}
